/* MAIN */

.bgcomponent {
    background-color: #8A0025;
}

.title {
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
}

.nav {
    margin: 10px;
}


/* BUTTONS */

.ordering {
    width: 60%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.buttons {
    width: 76%;
    margin: 0;
    padding: 0;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default {
    width: 150px;
    color: #DA9B00;
    background-color: #8A0025;
    border-color: #DA9B00;
}

.btn-default:hover,
.btn-default:focus {
    color: #FFF7C6;
    background-color: #DA9B00;
}

.caption {
    margin-left: 50px;
    margin-right: 10px;
    display: inline-block;
}

.caption p {
    margin: 0;
    font-size: 14px;
    text-align: right;
}

.caption>div,
.caption>label {
    display: inline-block;
}

.ratings {
    position: relative;
    top: -5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #DA9B00;
    background-color: #8A0025;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #DA9B00;
}

input:focus+.slider {
    box-shadow: 0 0 1px #DA9B00;
}

input:checked+.slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* LIST */

ul {
    background-color: #8A0025;
}

li {
    list-style: none;
}

ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.logo {
    background: #38000F;
}

img {
    width: 100%;
}

.id {
    display: inline-block;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    line-height: 1em;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
}

.col-1-4 {
    display: inline-block;
    width: 8%;
}

.col-2-4 {
    display: inline-block;
    width: 68%;
}

.col-3-4 {
    display: inline-block;
    width: 8%;
    text-align: center;
}

.strikethrough {
    text-decoration: line-through;
    color: #DA9B00;
}

.type {
    background-color: #38000F;
    color: #DA9B00;
    padding: 5px;
    font-size: 1.2em;
    padding-left: 150px;
}