h1 {
    color: #FFFFFF;
    /* border: 1px solid black; */
}

.menu {
    text-align: left;
    padding-left: 25px;
    cursor: pointer;
}

.search {
    text-align: right;
    display: inline-block;
}

.search div {
    cursor: pointer;
}

.search span {
    position: relative;
    top: -6px;
    font-size: 2em;
}

.name {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    -ms-transform: skewY(-25deg);
    /* IE 9 */
    -webkit-transform: skewY(-25deg);
    /* Safari */
    transform: skewY(-25deg);
    /* Standard syntax */
}

.col-1-3 {
    display: inline-block;
    width: 32%;
}


/* WineSearch private styles */

.search-result li {
    border-bottom: 1px solid #DA9B00;
    border-left: 1px solid #DA9B00;
    border-right: 1px solid #DA9B00;
    width: 600px;
    height: 30px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
}

.search-result li:hover {
    background-color: #DA9B00;
}

.search-result li a {
    color: #DA9B00;
    display: block;
    text-decoration: none;
}

.search-result li a:hover,
.search-result li a:active {
    color: white;
}

#search-box {
    display: none;
    position: absolute;
    top: 29px;
    left: 864px;
    width: 297px;
    height: 30px;
    color: #DA9B00;
}

ul.search-result {
    position: absolute;
    margin-top: -18px;
    padding-left: 561px;
    z-index: 15;
}