<div id="mySidenav" class="sidenav">
    <div class="menu">{{title | uppercase}}</div>
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
    <ul>
        <li *ngFor="let item of mainMenu" [class.selected]="item === selectedItem" (click)="onSelect(item)">
            <a href="#" routerLink="/{{title}}/{{item.name}}"><img src={{item.image}} alt="">{{item.name | uppercase}}</a>
        </li>
    </ul>
</div>
<div id="main">
    <app-wine-deals></app-wine-deals>
</div>