/* You can add global styles to this file, and also import other style files */

body {
    padding: 0;
    margin: 0;
    background-color: #A2002B;
    color: white;
    margin: 8px 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

html {
    height: 100%;
}

#mySidenav {
    position: absolute;
    left: 0;
    top: 0;
    width: 350px;
    z-index: 100;
}

.sidenav {
    position: absolute;
    left: 0;
    top: 0;
    width: 350px;
    z-index: 100;
}